@import "tailwindcss";
@plugin "daisyui";
/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest, halloween;
} */

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(66% 0.179 58.318);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
